@font-face {
    font-family: future;
    font-weight: bold;
    src: url('assets/fonts/Futura\ Bold\ font.ttf');
}

@font-face {
    font-family: future;
    font-weight: normal;
    src: url('assets/fonts/futura\ light\ bt.ttf');
}

@font-face {
    font-family: future;
    font-weight: 500;
    src: url('assets/fonts/futura\ medium\ bt.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: future;
}

body {
    background: black;
}

.page {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 60px 0 36px 150px;
    background: black;
    width: 100%;
    min-width: 600px;
}

.navbar {
    margin-bottom: 190px;
}

.title {
    font-size: 100px;
    line-height: 111px;
    margin-bottom: 14px;
}

.sub-title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
}

.info {
    margin-top: 230px;
    display: flex;
    align-items: center;
}

.info-phone {
    margin-bottom: 24px;
    font-weight: bold;
}

.info-address {
    display: flex
}

.info-phone a {
    text-decoration: none;
}

.image-turbine {
    position: absolute;

    bottom: 15vh;
    right: 60%;
    z-index: 3;
}

.info-block {
    display: flex;
}

.info-text {
    margin-right: 90px;
}

.info-block img {
    margin-right: 10px;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    position: relative;
}

.image-plain {
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 100%;
}

.image-plain__wrapper {
    position: relative;
}


.cory-right {
    position: absolute;
    bottom: 36px;
    margin-top: 10vh;
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    .page {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 50px;
        line-height: 100%;
    }

    .image-turbine {
        max-width: 300px;
        left: -73%;
    }
}